// =========================================================
// * main banner Component
// =========================================================
.banner {
  padding: 80px 0;
  .subscription-form {
    text-align: left;
    max-width: 100%;
  }
}
.slide-wrapper {
  margin-right: 78px;
  .swiper.bannerSliderLarge {
    max-width: 650px;
    min-width: 650px;
    max-height: 360px;
    padding: 40px 0;
    border-radius: 20px;
    margin-left: 0;
    background: rgba(62, 62, 62, 0.2);
    margin-bottom: 36px;
    .swiper-wrapper .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .swiper.bannerThumbSlider {
    max-width: 460px;
    margin: 0 auto;
    .swiper-wrapper .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100px;
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      background: $chinese-black;
      cursor: pointer;
      overflow: hidden;
    }
  }
  .swiper.bannerThumbSlider
    .swiper-wrapper
    .swiper-slide.swiper-slide-thumb-active {
    border-color: $white;
  }
}

@media (max-width: 1399px) {
  .slide-wrapper {
    margin-right: 20px;
  }
  .banner {
    padding: 80px 20px;
  }
}
@media (max-width: 1199px) {
  .slide-wrapper {
    .swiper.bannerSliderLarge {
      max-width: 510px;
      min-width: 510px;
    }
  }
}
@media (max-width: 991px) {
  .banner {
    padding: 60px 20px;
    .subscription-form {
      max-width: 450px;
      text-align: center;
    }
  }
  .slide-wrapper {
    margin: 0 auto 50px;
    .swiper.bannerSliderLarge {
      margin: 0 auto 30px;
      min-height: auto;
      padding: 20px 0;
      min-width: auto;
      max-width: 100%;
    }
    .swiper.bannerThumbSlider {
      max-width: 100%;
    }
  }
}
@media (max-width: 767px) {
  .slide-wrapper {
    .swiper.bannerSliderLarge {
      max-width: 100%;
      min-width: 100%;
    }
    .swiper.bannerThumbSlider .swiper-wrapper .swiper-slide {
      width: 60px;
      height: 60px;
    }
  }
}
@media (max-width: 575px) {
  .banner {
    padding: 40px 0 50px;
  }
}
