// =========================================================
// * Footer Component
// =========================================================

footer {
  padding: 20px 0!important;
  background: $primary;
  .footer-top {
    padding: 20px 0;
    background: inherit;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    .footer-logo {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-top: 0;
    }
    .social-icons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 0;
      li {
        margin: 0 7px;
        a {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          transition: all 0.2s ease;
          img {
            width: 32px;
            height: 32px;
          }
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
  .footer-bottom {
    padding: 18px 0 20px;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: $white;
  }
}

@media (max-width: 991px) {
  footer {
    padding: 16px 0!important;
    .footer-top {
      padding: 16px 0;
    }
    .footer-bottom {
      padding: 18px 0 0;
    }
  }
}
