<!-- App Banner -->
<div class="app-banner-section">
  <div class="container-xl">
    <h3 class="section-title d-md-none d-block text-center mb-3">
      The VanMoof App
    </h3>
    <div class="row">
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <div
          class="section-image"
          data-aos="zoom-in"
        >
          <img class="img-fluid" src="./../assets/img/vanmoof-app.png" alt="" />
        </div>
      </div>
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <h3 class="section-title d-md-block d-none" data-aos="fade-up" data-aos-delay="100">
          The VanMoof App
        </h3>
        <p class="section-subtitle" data-aos="fade-up" data-aos-delay="200">
          Experience skiing like never before, with the ability to explore more
          than just traditional terrain. Switch seamlessly from snow-covered
          slopes to urban streets or sandy shores. Unlock speeds of up to 80
          km/h and enjoy a 30 km journey on a single charge at 25 km/h.
        </p>
        <ul class="disc-list" data-aos="fade-up" data-aos-delay="300">
          <li>Digital Time</li>
          <li>Live phone</li>
          <li>Free music</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- App Banner -->
