<!-- App Banner -->
<div class="app-banner-section">
  <div class="container-xl">
    <h3 class="section-title d-md-none d-block text-center mb-3">
      The VanMoof App
    </h3>
    <div class="row">
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <div class="section-image" data-aos="zoom-in">
          <img class="img-fluid" src="./../assets/img/vanmoof-app.png" alt="" />
        </div>
      </div>
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <h3
          class="section-title d-md-block d-none"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          The VanMoof App
        </h3>
        <p class="section-subtitle" data-aos="fade-up" data-aos-delay="200">
          Unleash the full potential of the S3 with the Diodra App. Connect to
          your bike effortlessly, select your favorite riding mode, access data
          and statistics about usage, and enjoy that extra boost that makes you
          easily pedal through the city.
        </p>
        <ul class="disc-list" data-aos="fade-up" data-aos-delay="300">
          <li>Digital Time</li>
          <li>Live phone</li>
          <li>Free music</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- App Banner -->
