<!-- Assebly Section -->
<div class="assebly-section primary">
  <div class="container-xl">
    <div class="row justify-content-center">
      <div class="col-lg-5 d-flex flex-column justify-content-center">
        <div
          class="section-image d-flex mb-4 pb-3"
          data-aos="flip-up"
          data-aos-duration="1200"
        >
          <img
            class="img-fluid mx-auto"
            src="./../assets/img/usa-flag.svg"
            alt="USA"
          />
        </div>
        <h4 class="section-title" data-aos="fade-up" data-aos-delay="200">
          Assembled the USA
        </h4>
        <p
          class="section-subtitle mx-auto"
          data-aos="fade-up"
          data-aos-delay="300"
        >
          Experience skiing like never before, with the ability to explore more
          than just traditional terrain. Switch seamlessly from snow-covered
          slopes to urban streets or sandy shores. Unlock speeds of up to 80
          km/h and enjoy a 30 km journey on a single charge at 25 km/h.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Assebly Section -->
