<!-- Assebly Section -->
<div class="assebly-section primary">
  <div class="container-xl">
    <div class="row justify-content-center">
      <div class="col-lg-5 d-flex flex-column justify-content-center">
        <div
          class="section-image d-flex mb-4 pb-3"
          data-aos="flip-up"
          data-aos-duration="1200"
        >
          <img
            class="img-fluid mx-auto"
            src="./../assets/img/EU-flag.jpg"
            alt="EU"
          />
        </div>
        <h4 class="section-title" data-aos="fade-up" data-aos-delay="200">
          Designed & Built-in Europe
        </h4>
        <p
          class="section-subtitle mx-auto"
          data-aos="fade-up"
          data-aos-delay="300"
        >
          Diodra bikes are manufactured and assembled by a team of experiences
          EU technicians and can be identified through their minimalist design,
          the use of high quality and durable materials, and meticulous
          attention to details. Our Premium-Class electric bikes are a
          combination of the highest technology and the finest hand crafted work
          dilverd at a competitive price.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Assebly Section -->
