<!-- Frame Details Section -->
<div class="frame-details-section">
  <div class="container-xl">
    <h3 class="section-title">Handmade bike frame</h3>
    <div class="row">
      <div
        class="col-lg-auto order-lg-1 order-2 d-flex justify-content-center flex-column"
      >
        <ul class="frame-component-list" data-aos="fade-right">
          <li>Design strength amd rigidity</li>
          <li>Design strength</li>
          <li>High Strength frame</li>
          <li>Design strength amd rigidity</li>
          <li>Design strength</li>
          <li>High Strength frame</li>
        </ul>
      </div>
      <div class="col-lg order-lg-2 order-1">
        <div class="section-image" data-aos="fade-left">
          <img class="img-fluid" src="./../assets/img/cycle-frame.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Frame Details Section -->
