<!-- Comparision Section -->
<div class="comparision-section">
  <div class="container-xl">
    <h3 class="section-title" data-aos="fade-up" data-aos-delay="100">Your Options, Side by side</h3>
    <div class="section-image" data-aos="zoom-in" data-aos-delay="200">
      <img
        class="img-fluid mx-auto"
        src="./../assets/img/cycle-option.png"
        alt=""
      />
    </div>
    <div class="comparision-table-wrapper" data-aos="fade-up" data-aos-delay="300" data-aos-offset="-200">
      <table class="comparision-table">
        <thead>
          <th width="230"></th>
          <th>Multi Speed</th>
          <th class="text-center" width="200">
            <span class="rounded-label">VS</span>
          </th>
          <th>Electric</th>
        </thead>
        <tbody>
          <tr>
            <td>Motor</td>
            <td>MId - Drive Valeo</td>
            <td></td>
            <td>MId - Drive Valeo</td>
          </tr>
          <tr>
            <td>Motor Norminal Output</td>
            <td>750W (U130NmS) 25W750WEU</td>
            <td></td>
            <td>1550W (US) 25W750WEU</td>
          </tr>
          <tr>
            <td>Torque</td>
            <td>130Nm</td>
            <td></td>
            <td>500Nm</td>
          </tr>
          <tr>
            <td>Speed Max</td>
            <td>25kmh</td>
            <td></td>
            <td>35 kmh</td>
          </tr>
          <tr>
            <td>Throttle</td>
            <td>Yes</td>
            <td></td>
            <td>Yes</td>
          </tr>
          <tr>
            <td>Range</td>
            <td>up to 225 miles</td>
            <td></td>
            <td>up to 225 miles</td>
          </tr>
          <tr>
            <td>Battery Type</td>
            <td>2 recoverable</td>
            <td></td>
            <td>3 recoverable</td>
          </tr>
          <tr>
            <td>Battery Capacity</td>
            <td>200Wh</td>
            <td></td>
            <td>500Wh</td>
          </tr>
          <tr>
            <td>Battery Voltage</td>
            <td>51.8 V</td>
            <td></td>
            <td>60 V</td>
          </tr>
          <tr>
            <td>Battery Charger</td>
            <td>3 AMP fast charger</td>
            <td></td>
            <td>3 AMP fast charger</td>
          </tr>
          <tr>
            <td>Recharge Time home</td>
            <td>80% Charge in 4hrs 10% in 6h</td>
            <td></td>
            <td>750W (US) 25W750WEU</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Comparision Section -->
