<!-- Start Footer -->
<footer class="footer" data-aos="fade-up" data-aos-delay="200">
  <div class="container-xxl">
    <!-- Start Footer Top Part -->
    <div class="footer-top">
      <div class="row justify-content-between">
        <div class="col-sm-4 col d-flex align-items-center">
          <button
            class="btn btn-primary-light btn-prefix-icon"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            <img src="./../assets/img/email-white.svg" alt="Email" />
            Contact us
          </button>
          <!-- <a
            href="#"
            class="footer-logo"
            title="Logo"
            data-aos="fade-right"
            data-aos-offset="-400"
          >
            <img src="./../assets/img/logo-white.svg" alt="Logo" />
          </a> -->
        </div>
        <div class="col-sm-8 col">
          <ul class="social-icons">
            <li
              data-aos="fade-left"
              data-aos-delay="100"
              data-aos-offset="-400"
            >
              <a href="#" title="Facebook"
                ><img src="./../assets/img/facebook-white.svg" alt="Facebook"
              /></a>
            </li>
            <li
              data-aos="fade-left"
              data-aos-delay="200"
              data-aos-offset="-400"
            >
              <a href="#" title="LinkedIn"
                ><img src="./../assets/img/linkedin-white.svg" alt="LinkedIn"
              /></a>
            </li>
            <li
              data-aos="fade-left"
              data-aos-delay="300"
              data-aos-offset="-400"
            >
              <a href="#" title="Instagram"
                ><img src="./../assets/img/instagram-white.svg" alt="Instagram"
              /></a>
            </li>
            <li
              data-aos="fade-left"
              data-aos-delay="400"
              data-aos-offset="-400"
            >
              <a href="#" title="Twitter"
                ><img src="./../assets/img/twitter-white.svg" alt="Twitter"
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Footer Top Part -->

    <!-- Start Footer Bottom Part -->
    <div class="footer-bottom">
      Copyright &copy; 2021 UI8 LLC. All rights reserved
      <div class="footer-links">
        <a class="link-white" href="#" title="Terms of Services"
          >Terms of Services</a
        >
        <a class="link-white" href="#" title="Privacy Policy">Privacy Policy</a>
      </div>
    </div>
  </div>
  <!-- End Footer Bottom Part -->
</footer>
<!-- End Footer -->

<!-- Modal -->
<div
  class="modal fade contact-us-dialog"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header pb-2">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <h1 class="modal-title" id="exampleModalLabel">Contact Us</h1>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="form-group labled-input">
              <input type="text" class="form-control" placeholder="Name" />
            </div>
          </div>
          <div class="col-12">
            <div class="form-group labled-input">
              <input type="text" class="form-control" placeholder="Email" />
            </div>
          </div>
          <div class="col-12">
            <div class="form-group labled-input">
              <textarea
                type="text"
                class="form-control"
                placeholder="Message"
                row="5"
              ></textarea>
            </div>
          </div>
          <div class="col-12">
            <button class="btn btn-primary radius-0 btn-md w-100">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
