<!-- Comparision Section -->
<div class="comparision-section">
  <div class="container-xl">
    <h3
      class="section-title text-center"
      data-aos="fade-up"
      data-aos-delay="100"
    >
      Your Options, Side by side
    </h3>
    <div class="row">
      <div class="col-xl-6">
        <div class="section-image" data-aos="zoom-in" data-aos-delay="200">
          <img
            class="img-fluid mx-auto"
            src="./../assets/img/cycle-option.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="col-xl-6">
        <div class="row">
          <div class="col">
            <h5 class="section-title mb-4" data-aos="fade-up">Electric</h5>
            <ul class="comparision-table">
              <li data-aos="fade-up" data-aos-delay="100">
                <h6>Motor</h6>
                <p>Evo 3</p>
              </li>
              <li data-aos="fade-up" data-aos-delay="200">
                <h6>Gears</h6>
                <p>Automatic</p>
              </li>
              <li data-aos="fade-up" data-aos-delay="300">
                <h6>Range</h6>
                <p>100km / 63Miles</p>
              </li>
              <li
                data-aos="fade-up"
                data-aos-delay="400"
                data-aos-offset="-100"
              >
                <h6>Assist speed</h6>
                <p>25 kmh (EU)</p>
                <p>20mph (US)</p>
              </li>
              <li
                data-aos="fade-up"
                data-aos-delay="500"
                data-aos-offset="-100"
              >
                <h6>Wheels</h6>
                <p>28 inch</p>
              </li>
              <li
                data-aos="fade-up"
                data-aos-delay="600"
                data-aos-offset="-100"
              >
                <h6>Weight</h6>
                <p>15kg /23lbs</p>
              </li>
              <li
                data-aos="fade-up"
                data-aos-delay="700"
                data-aos-offset="-100"
              >
                <h6>Frame</h6>
                <p>Bamboo</p>
              </li>
              <li
                data-aos="fade-up"
                data-aos-delay="800"
                data-aos-offset="-100"
              >
                <h6>Size</h6>
                <p>S/M/L</p>
              </li>
            </ul>
          </div>
          <div class="col">
            <h5 class="section-title mb-4" data-aos="fade-up">MultiSpeed</h5>
            <ul class="comparision-table">
              <li data-aos="fade-up" data-aos-delay="100">
                <h6>Hub</h6>
                <p>Shimano Alfine</p>
              </li>
              <li data-aos="fade-up" data-aos-delay="200">
                <h6>Gears</h6>
                <p>8 speed</p>
              </li>
              <li data-aos="fade-up" data-aos-delay="300">
                <h6>Gear Ration</h6>
                <p>307%</p>
              </li>
              <li data-aos="fade-up" data-aos-delay="400">
                <h6>Assist speed</h6>
                <p>non-electric</p>
              </li>
              <li data-aos="fade-up" data-aos-delay="500">
                <h6>Wheels</h6>
                <p>28 inch</p>
              </li>
              <li
                data-aos="fade-up"
                data-aos-delay="600"
                data-aos-offset="-100"
              >
                <h6>Weight</h6>
                <p>12kg/ 18lbs</p>
              </li>
              <li
                data-aos="fade-up"
                data-aos-delay="700"
                data-aos-offset="-100"
              >
                <h6>Frame</h6>
                <p>Bamboo</p>
              </li>
              <li
                data-aos="fade-up"
                data-aos-delay="800"
                data-aos-offset="-100"
              >
                <h6>Size</h6>
                <p>S/M/L</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- <div
      class="comparision-table-wrapper"
      data-aos="fade-up"
      data-aos-delay="300"
      data-aos-offset="-200"
    >
      <table class="comparision-table">
        <thead>
          <th width="230"></th>
          <th>Multi Speed</th>
          <th class="text-center" width="200">
            <span class="rounded-label">VS</span>
          </th>
          <th>Electric</th>
        </thead>
        <tbody>
          <tr>
            <td>Motor</td>
            <td>Evo 3</td>
            <td></td>
            <td>Shimano Alfine</td>
          </tr>
          <tr>
            <td>Gears</td>
            <td>Automatic</td>
            <td></td>
            <td>8 speed</td>
          </tr>
          <tr>
            <td>Range</td>
            <td>100km / 63Miles</td>
            <td></td>
            <td>307%</td>
          </tr>
          <tr>
            <td>Speed Max</td>
            <td>25kmh</td>
            <td></td>
            <td>35 kmh</td>
          </tr>
          <tr>
            <td>Throttle</td>
            <td>Yes</td>
            <td></td>
            <td>Yes</td>
          </tr>
          <tr>
            <td>Range</td>
            <td>up to 225 miles</td>
            <td></td>
            <td>up to 225 miles</td>
          </tr>
          <tr>
            <td>Battery Type</td>
            <td>2 recoverable</td>
            <td></td>
            <td>3 recoverable</td>
          </tr>
          <tr>
            <td>Battery Capacity</td>
            <td>200Wh</td>
            <td></td>
            <td>500Wh</td>
          </tr>
          <tr>
            <td>Battery Voltage</td>
            <td>51.8 V</td>
            <td></td>
            <td>60 V</td>
          </tr>
          <tr>
            <td>Battery Charger</td>
            <td>3 AMP fast charger</td>
            <td></td>
            <td>3 AMP fast charger</td>
          </tr>
          <tr>
            <td>Recharge Time home</td>
            <td>80% Charge in 4hrs 10% in 6h</td>
            <td></td>
            <td>750W (US) 25W750WEU</td>
          </tr>
        </tbody>
      </table>
    </div> -->
  </div>
</div>
<!-- Comparision Section -->
