<!-- info Section -->
<div class="info-section primary">
  <div class="container-xl">
    <div class="row">
      <div class="col-md d-flex flex-column justify-content-center ms-xl-5 ps-xl-5">
        <h3 class="section-title" data-aos="fade-up" data-aos-delay="200">The VanMoof App</h3>
        <p class="section-subtitle max-w-428" data-aos="fade-up" data-aos-delay="300">
          Experience skiing like never before, with the ability to explore more
          than just traditional terrain. Switch seamlessly from snow-covered
          slopes to urban streets or sandy shores. Unlock speeds of up to 80
          km/h and enjoy a 30 km journey on a single charge at 25 km/h.
        </p>
      </div>
      <div class="col-md">
        <div class="section-image" data-aos="zoom-in-left" data-aos-delay="100">
          <img
            class="img-fluid"
            src="./../assets/img/vanmoof-app-banner.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- info Section -->
