<!-- FAQ Section -->
<div class="faq-section">
  <div class="container-xl">
    <h2 class="section-title" data-aos="fade-up">FAQ</h2>
    <p class="section-subtitle" data-aos="fade-up" data-aos-delay="100">
      The Lorm alphabet is a method of tactile signing named after Hieronymus
      Lorm, who developed it in the late 19th century. Hieronymus Lorm, who
      developed it in the late 19th century.
    </p>

    <div
      class="faq-listing accordion accordion-flush"
      id="accordionFlushExample"
    >
      <div class="accordion-item" data-aos="fade-up" data-aos-delay="300">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne"
            aria-expanded="false"
            aria-controls="flush-collapseOne"
          >
            Why use bamboo?
          </button>
        </h2>
        <div
          id="flush-collapseOne"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Bamboo is an amazingly versatile material with a higher strength to
            weight ratio than steel or aluminium.It is strong, stif, beautiful
            and
            <span class="fw-600">
              has great vibration absorption characteristics, resulting in a
              amazing and confortable ride.</span
            >
          </div>
        </div>
      </div>
      <div class="accordion-item" data-aos="fade-up" data-aos-delay="400">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo"
            aria-expanded="false"
            aria-controls="flush-collapseTwo"
          >
            Is Diodra bike water and weather-proof?
          </button>
        </h2>
        <div
          id="flush-collapseTwo"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Yes! We implement our special two-component coating system on our
            bikes to protect the bamboo from water and weather. Each frame
            receives 3 layers of the best varnish on the market.
          </div>
        </div>
      </div>
      <div class="accordion-item" data-aos="fade-up" data-aos-delay="500">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree"
            aria-expanded="false"
            aria-controls="flush-collapseThree"
          >
            What kind of warranty do you offer?
          </button>
        </h2>
        <div
          id="flush-collapseThree"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            The Diodra-S1 and Diodra-M8 come with a 2-year unlimited mileage
            warranty, for a peace of mind that your bike is covered against
            manufacturing defects and faults. Additionally, the frame itself is
            covered by a 5-year warranty.
          </div>
        </div>
      </div>
      <div class="accordion-item" data-aos="fade-up" data-aos-delay="600">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFour"
            aria-expanded="false"
            aria-controls="flush-collapseFour"
          >
            Is Diodra easy to mantain?
          </button>
        </h2>
        <div
          id="flush-collapseFour"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Yes.Each bike is designed for low-maintenance and durability, and
            requires minimal lubrication thanks to its belt drive system. So you
            are set to spend less time and money on upkeep.
          </div>
        </div>
      </div>
      <div class="accordion-item" data-aos="fade-up" data-aos-delay="700">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFive"
            aria-expanded="false"
            aria-controls="flush-collapseFive"
          >
            How fast can I ride my e-bike?
          </button>
        </h2>
        <div
          id="flush-collapseFive"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            In the US our bike is limited to a maximum assisted speed of 32km/h,
            in the EU and UK they're limited to to 25km/h.
          </div>
        </div>
      </div>
      <div class="accordion-item" data-aos="fade-up" data-aos-delay="800">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseSix"
            aria-expanded="false"
            aria-controls="flush-collapseSix"
          >
            Can I used a smartphone app with Diodra S1?
          </button>
        </h2>
        <div
          id="flush-collapseSix"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Yes! You can use the dedicated Diodra smartphone app (Android or
            iOS) to access all data and statistics about usage and rides.
          </div>
        </div>
      </div>
      <div class="accordion-item" data-aos="fade-up" data-aos-delay="900">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseSeven"
            aria-expanded="false"
            aria-controls="flush-collapseSeven"
          >
            What is the charging time for the Diodra S3 e-bike?
          </button>
        </h2>
        <div
          id="flush-collapseSeven"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea quam
            nesciunt nam consequatur eligendi quibusdam placeat ullam autem, eum
            ex.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- FAQ Section -->
