<div class="product-details-banner">
  <div class="container-xl">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-md-7 reason-wrap">
        <button
          class="btn btn-icon btn-default btn-transparnet"
          onclick="window.location.href = './product-details.html';"
          data-aos="fade-left" data-aos-delay="200"
        >
          <img src="./../assets/img/back-grey.svg" alt="" />
        </button>
        <div class="max-w-455">
          <div class="blacked-radio" data-aos="fade-up" data-aos-delay="100">
            <input
              type="radio"
              name="leaveReason"
              class="custom-control-input"
              id="customRadio1"
            />
            <label class="control-label" for="customRadio1"
              ><span class="option">A</span> Product availability</label
            >
          </div>
          <div class="blacked-radio" data-aos="fade-up" data-aos-delay="200">
            <input
              type="radio"
              name="leaveReason"
              class="custom-control-input"
              id="customRadio2"
            />
            <label class="control-label" for="customRadio2"
              ><span class="option">B</span>Not enough information
              available</label
            >
          </div>
          <div class="blacked-radio" data-aos="fade-up" data-aos-delay="300">
            <input
              type="radio"
              name="leaveReason"
              class="custom-control-input"
              id="customRadio3"
            />
            <label class="control-label" for="customRadio3"
              ><span class="option">C</span>Security/trust</label
            >
          </div>
          <div class="blacked-radio" data-aos="fade-up" data-aos-delay="400">
            <input
              type="radio"
              name="leaveReason"
              class="custom-control-input"
              id="customRadio4"
            />
            <label class="control-label" for="customRadio4"
              ><span class="option">D</span>Limited Payment</label
            >
          </div>
          <div class="blacked-radio" data-aos="fade-up" data-aos-delay="500">
            <input
              type="radio"
              name="leaveReason"
              class="custom-control-input"
              id="customRadio5"
            />
            <label class="control-label" for="customRadio5"
              ><span class="option">E</span>Product not appealing/useful</label
            >
          </div>
          <div class="blacked-radio" data-aos="fade-up" data-aos-delay="600">
            <input
              type="radio"
              name="leaveReason"
              class="custom-control-input"
              id="customRadio6"
            />
            <label class="control-label" for="customRadio6"
              ><span class="option">F</span>Unclear value</label
            >
          </div>
          <div class="blacked-radio" data-aos="fade-up" data-aos-delay="700">
            <input
              type="radio"
              name="leaveReason"
              class="custom-control-input"
              id="customRadio7"
            />
            <label class="control-label" for="customRadio7"
              ><span class="option">H</span>Price</label
            >
          </div>
          <div class="blacked-radio" data-aos="fade-up" data-aos-delay="800">
            <input
              type="radio"
              name="leaveReason"
              class="custom-control-input"
              id="customRadio8"
            />
            <label class="control-label" for="customRadio8"
              ><span class="option">G</span>Other</label
            >
          </div>
          <button
            class="btn btn-suffix-icon btn-md btn-success"
            onclick="window.location.href = './index.html';"
            data-aos="fade-up"
            data-aos-delay="900"
          >
            OK <img src="./../assets/img/check-white.svg" alt="" />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
