<!-- Info Section -->
<div class="info-section primary">
  <div class="container-xl">
    <div class="row">
      <div class="col-md">
        <div
          class="section-image mb-md-0 mb-3"
          data-aos="zoom-in-right"
          data-aos-delay="200"
        >
          <img
            class="img-fluid"
            src="./../assets/img/diodra-S3-electric.jpg"
            alt=""
          />
        </div>
      </div>
      <div
        class="col-md d-flex flex-column justify-content-center"
        data-aos="fade-left"
        data-aos-delay="200"
      >
        <h3 class="section-title">Diodra S3- electric</h3>
        <p class="section-subtitle">
          With a smart motor, automatic electronic gear shifting, and integrated
          tech, the Diodra S3 is custom-tuned for the ultimate riding
          experience. The bike boasts an EU-compliant assistance of up to 25km/h
          or 32km/h available in the USA. The entire body of Diodra S3 is made
          of laminated bamboo fiber, which is strong and lightweight, ensuring a
          comfortable and reliable ride, for your daily commute.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Info Section -->

<!-- Info Section -->
<div class="info-section white">
  <div class="container-xl">
    <div class="row">
      <div
        class="col-md order-md-1 order-2 d-flex flex-column justify-content-center text-lg-end"
        data-aos="fade-right"
        data-aos-delay="200"
      >
        <h3 class="section-title">Inteligent motor</h3>
        <p class="section-subtitle">
          Tuned for maximum power and a natural ride-feel our custome develop
          motor runs near-silently- even at top speed. The integrated battery,
          and electronics work seamlessly to assist your cycling style.
        </p>
        <div class="row">
          <div class="col-lg-3 col-6">
            <p class="key-highlight">
              32km/h
              <span>Top Speed</span>
            </p>
          </div>
          <div class="col-lg-3 col-6">
            <p class="key-highlight">
              48 Nm
              <span>Tourque</span>
            </p>
          </div>
          <div class="col-lg-3 col-6">
            <p class="key-highlight">
              500 w
              <span>Max Power </span>
            </p>
          </div>
          <div class="col-lg-3 col-6">
            <p class="key-highlight">
              10Ah
              <span>Battery </span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md order-md-2 order-1">
        <div
          class="section-image mb-md-0 mb-3"
          data-aos="zoom-in-left"
          data-aos-delay="200"
        >
          <img
            class="img-fluid ml-auto"
            src="./../assets/img/inteligent-motor.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Info Section -->
<!-- Info Section -->
<div class="info-section primary">
  <div class="container-xl">
    <div class="row">
      <div
        class="col-md order-md-1 order-2 d-flex flex-column justify-content-center"
        data-aos="fade-right"
        data-aos-delay="200"
      >
        <h3 class="section-title">Diodra M8 multi-speed</h3>
        <p class="section-subtitle">
          The Diodra M8 is the commuter that gets you where you need to be, in
          comfort and style whether you have a motor or not. This bike is the
          perfect choice for those seeking an intelligent, reliable, and
          affordable ride. Its minimalist and ergonomic design is crafted from
          premium materials, ensuring a high-quality experience.
        </p>
      </div>
      <div class="col-md order-md-2 order-1">
        <div
          class="section-image mb-md-0 mb-3"
          data-aos="zoom-in-left"
          data-aos-delay="200"
        >
          <img
            class="img-fluid"
            src="./../assets/img/diodra-M8-multi-speed.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Info Section -->
<!-- Info Section -->
<div class="info-section white">
  <div class="container-xl">
    <div class="row">
      <div class="col-md">
        <div
          class="section-image mb-md-0 mb-3"
          data-aos="zoom-in-right"
          data-aos-delay="200"
        >
          <img
            class="img-fluid"
            src="./../assets/img/low-maintenece-hub.png"
            alt=""
          />
        </div>
      </div>
      <div
        class="col-md d-flex flex-column justify-content-center text-lg-end"
        data-aos="fade-left"
        data-aos-delay="200"
      >
        <h3 class="section-title">Low maintenece hub</h3>
        <p class="section-subtitle">
          Hit the town in style, with Shimano ALFINE — a high-grade groupset
          built for the sophisticated urban rider. Along with its premium build
          quality, ALFINE brings you finesse, versatility, and effortless
          operation.
        </p>
        <div class="row">
          <div class="col-lg-3 col-6">
            <p class="key-highlight">
              8
              <span>Speeds</span>
            </p>
          </div>
          <div class="col-lg-3 col-6">
            <p class="key-highlight">
              307%
              <span>Gear ratio</span>
            </p>
          </div>
          <div class="col-lg-3 col-6">
            <p class="key-highlight">
              160mm
              <span>Disc brake</span>
            </p>
          </div>
          <div class="col-lg-3 col-6">
            <p class="key-highlight">
              1640g
              <span>Weight</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Info Section -->
