<!-- Info Section -->
<div class="info-section primary">
  <div class="container-xl">
    <div class="row">
      <div class="col-md">
        <div
          class="section-image mb-md-0 mb-3"
          data-aos="zoom-in-right"
          data-aos-delay="200"
        >
          <img
            class="img-fluid"
            src="./../assets/img/flluid-2-body.png"
            alt=""
          />
        </div>
      </div>
      <div
        class="col-md d-flex flex-column justify-content-center"
        data-aos="fade-left"
        data-aos-delay="200"
      >
        <h3 class="section-title">Flluid - 2</h3>
        <p class="section-subtitle">
          Experience skiing like never before, with the ability to explore more
          than just traditional terrain. Switch seamlessly from snow-covered
          slopes to urban streets or sandy shores. Unlock speeds of up to 80
          km/h and enjoy a 30 km journey on a single charge at 25 km/h.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Info Section -->
<!-- Info Section -->
<div class="info-section white">
  <div class="container-xl">
    <div class="row">
      <div
        class="col-md order-md-1 order-2 d-flex flex-column justify-content-center text-md-end"
        data-aos="fade-right"
        data-aos-delay="200"
      >
        <h3 class="section-title">Intellignet Motor</h3>
        <p class="section-subtitle">
          In publishing and graphic design, Lorem ipsum is a placeholder text
          commonly used to demonstrate the visual form of a document or a
          typeface without relying on meaningful content. In publishing and
          graphic design
        </p>
      </div>
      <div class="col-md order-md-2 order-1">
        <div
          class="section-image mb-md-0 mb-3"
          data-aos="zoom-in-left"
          data-aos-delay="200"
        >
          <img
            class="img-fluid"
            src="./../assets/img/intelligent-motor.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Info Section -->
<!-- Info Section -->
<div class="info-section primary">
  <div class="container-xl">
    <div class="row">
      <div
        class="col-md order-md-1 order-2 d-flex flex-column justify-content-center"
        data-aos="fade-right"
        data-aos-delay="200"
      >
        <h3 class="section-title">Flluid - 2</h3>
        <p class="section-subtitle">
          Experience skiing like never before, with the ability to explore more
          than just traditional terrain. Switch seamlessly from snow-covered
          slopes to urban streets or sandy shores. Unlock speeds of up to 80
          km/h and enjoy a 30 km journey on a single charge at 25 km/h.
        </p>
      </div>
      <div class="col-md order-md-2 order-1">
        <div
          class="section-image mb-md-0 mb-3"
          data-aos="zoom-in-left"
          data-aos-delay="200"
        >
          <img
            class="img-fluid"
            src="./../assets/img/flluid-2-body.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Info Section -->
<!-- Info Section -->
<div class="info-section white">
  <div class="container-xl">
    <div class="row">
      <div class="col-md">
        <div
          class="section-image mb-md-0 mb-3"
          data-aos="zoom-in-right"
          data-aos-delay="200"
        >
          <img
            class="img-fluid"
            src="./../assets/img/intelligent-motor.png"
            alt=""
          />
        </div>
      </div>
      <div
        class="col-md d-flex flex-column justify-content-center text-md-end"
        data-aos="fade-left"
        data-aos-delay="200"
      >
        <h3 class="section-title">Intellignet Motor</h3>
        <p class="section-subtitle">
          In publishing and graphic design, Lorem ipsum is a placeholder text
          commonly used to demonstrate the visual form of a document or a
          typeface without relying on meaningful content. In publishing and
          graphic design
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Info Section -->
