<!-- Choose Color Section -->
<!-- <div class="choose-color-section">
  <div class="container-xl">
    <h3 class="section-title" data-aos="fade-up" data-aos-delay="100">
      Choose your color
    </h3>
    <p class="section-subtitle" data-aos="fade-up" data-aos-delay="200">
      Experience skiing like never before, with the ability to explore more than
      just traditional terrain.
    </p>
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <div class="row">
          <div class="col-sm">
            <div class="color-choise" data-aos="fade-up" data-aos-delay="400">
              <h5 class="section-title mb-md-2 mb-1">The classy commuter</h5>
              <p class="section-sub-description">With a belt drive</p>
              <div
                class="section-image"
                data-aos="zoom-in"
                data-aos-delay="400"
              >
                <img
                  class="img-fluid mx-auto mb-sm-5 mb-3"
                  src="./../assets/img/classy-commuter-cycle.png"
                  alt=""
                />
                <img
                  class="img-fluid mx-auto mb-3"
                  src="./../assets/img/xbicycle.png"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="color-choise" data-aos="fade-up" data-aos-delay="400">
              <h5 class="section-title mb-md-2 mb-1">The classy commuter</h5>
              <p class="section-sub-description">With a belt drive</p>
              <div
                class="section-image"
                data-aos="zoom-in"
                data-aos-delay="400"
              >
                <img
                  class="img-fluid mx-auto mb-sm-5 mb-3"
                  src="./../assets/img/classy-commuter-cycle.png"
                  alt=""
                />
                <img
                  class="img-fluid mx-auto mb-3"
                  src="./../assets/img/xbicycle.png"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- Choose Color Section -->

<div class="choose-model-section">
  <div class="container-xl">
    <div class="row">
      <div class="col-md ps-0">
        <div
          class="section-image mb-md-0 mb-3"
          data-aos="zoom-in-right"
          data-aos-delay="200"
        >
          <img class="img-fluid" src="./../assets/img/belt-drive.jpg" alt="" />
        </div>
      </div>
      <div class="col-md d-flex flex-column justify-content-center">
        <h3 class="section-title" data-aos="fade-up" data-aos-delay="100">
          Belt Drive System
        </h3>
        <p class="section-subtitle" data-aos="fade-up" data-aos-delay="200">
          Each bike is specially designed for the Gates carbon belt drive.This
          maintenance-friendly drivetrain does not need to be lubricated, always
          runs smoothly and can last upwards of 30.000km
        </p>
        <div class="row">
          <div class="col-4">
            <p
              class="key-highlight text-start"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              50/24
              <span>Gear ratio</span>
            </p>
          </div>
          <div class="col-4">
            <p
              class="key-highlight text-start"
              data-aos="fade-up"
              data-aos-delay="400"
            >
              30.000 km
              <span>Life time </span>
            </p>
          </div>
          <div class="col-4">
            <p
              class="key-highlight text-start"
              data-aos="fade-up"
              data-aos-delay="500"
            >
              CDN/CDX
              <span>Carbon Belt </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
