<!-- Choose Color Section -->
<div class="choose-color-section">
  <div class="container-xl">
    <h3 class="section-title" data-aos="fade-up" data-aos-delay="100">
      Choose your color
    </h3>
    <p class="section-subtitle" data-aos="fade-up" data-aos-delay="200">
      Experience skiing like never before, with the ability to explore more than
      just traditional terrain.
    </p>
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <div class="row">
          <div class="col-sm">
            <div class="color-choise" data-aos="fade-up" data-aos-delay="400">
              <h5 class="section-title mb-md-2 mb-1">The classy commuter</h5>
              <p class="section-sub-description">With a belt drive</p>
              <div
                class="section-image"
                data-aos="zoom-in"
                data-aos-delay="400"
              >
                <img
                  class="img-fluid mx-auto mb-sm-5 mb-3"
                  src="./../assets/img/classy-commuter-cycle.png"
                  alt=""
                />
                <img
                  class="img-fluid mx-auto mb-3"
                  src="./../assets/img/xbicycle.png"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="color-choise" data-aos="fade-up" data-aos-delay="400">
              <h5 class="section-title mb-md-2 mb-1">The classy commuter</h5>
              <p class="section-sub-description">With a belt drive</p>
              <div
                class="section-image"
                data-aos="zoom-in"
                data-aos-delay="400"
              >
                <img
                  class="img-fluid mx-auto mb-sm-5 mb-3"
                  src="./../assets/img/classy-commuter-cycle.png"
                  alt=""
                />
                <img
                  class="img-fluid mx-auto mb-3"
                  src="./../assets/img/xbicycle.png"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Choose Color Section -->
