<!-- photo-gallary-section -->
<div class="photo-gallary-section">
  <div class="container-xl">
    <div class="grid-container">
      <div class="grid-item item2 d-sm-none d-block">
        <img
          src="./../assets/img/xbicycle-lg.png"
          alt="photo-gallary-xbicycle-lg"
        />
      </div>
      <div class="grid-item item1">
        <img
          src="./../assets/img/photo-gallary-column-1.png"
          alt="photo-gallary-column-1"
        />
      </div>
      <div class="grid-item item2 d-sm-grid d-none">
        <img
          src="./../assets/img/xbicycle-lg.png"
          alt="photo-gallary-xbicycle-lg"
        />
      </div>
      <div class="grid-item item3">
        <img
          src="./../assets/img/photo-gallary-column-3-row-1.png"
          alt="photo-gallary-column-3-row-1"
        />
      </div>
      <div class="grid-item item4">
        <img
          src="./../assets/img/photo-gallary-column-2.png"
          alt="photo-gallary-column-2"
        />
      </div>
      <div class="grid-item item5">
        <img
          src="./../assets/img/photo-gallary-column-3-row-2.png"
          alt="photo-gallary-column-3-row-2"
        />
      </div>
    </div>
  </div>
</div>
<!-- photo-gallary-section -->
