<!-- photo-gallary-section -->
<div class="photo-gallary-section">
  <div class="container-xl">
    <div class="grid-container">
      <div class="grid-item" data-aos="zoom-in" data-aos-delay="100">
        <img src="./../assets/img/photo-gallery/photo-gallery-1.jpg" alt="" />
      </div>
      <div class="grid-item" data-aos="zoom-in" data-aos-delay="200">
        <img src="./../assets/img/photo-gallery/photo-gallery-2.jpg" alt="" />
      </div>
      <div class="grid-item" data-aos="zoom-in" data-aos-delay="300">
        <img src="./../assets/img/photo-gallery/photo-gallery-3.jpg" alt="" />
      </div>
      <div class="grid-item" data-aos="zoom-in" data-aos-delay="400">
        <img src="./../assets/img/photo-gallery/photo-gallery-4.jpg" alt="" />
      </div>
    </div>
  </div>
</div>
<!-- photo-gallary-section -->
