<div class="product-details-banner">
  <div class="container-xl">
    <div class="row">
      <div class="col-lg-6">
        <div class="product-graphics">
          <div class="product-img-wrapper">
            <img
              src="./../assets/img/product-details-banner.png"
              data-aos="zoom-in"
              data-aos-delay="100"
              alt=""
            />
          </div>
          <ul class="feauture-list">
            <li data-aos="fade-left" data-aos-delay="100">
              <img class="icon" src="./../assets/img/money-dark.svg" alt="" />
              <div>
                <p class="title">100 Money Back Guarantee</p>
                <p class="description">
                  In publishing and graphic design, Lorem ipsum
                </p>
              </div>
            </li>
            <li data-aos="fade-left" data-aos-delay="200">
              <img
                class="icon"
                src="./../assets/img/pre-launch-dark.svg"
                alt=""
              />
              <div>
                <p class="title">Prelaunch refund Gurantee</p>
                <p class="description">
                  In publishing and graphic design, Lorem ipsum
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="product-details">
          <h3 class="section-title" data-aos="fade-up" data-aos-delay="100">
            Reserve your special discount
          </h3>
          <p
            class="section-description color-868686"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            In publishing and graphic design, Lorem ipsum is a placeholder text
            commonly used
          </p>
          <h5
            class="section-title price-tags"
            data-aos="fade-up"
            data-aos-delay="300"
          >
            <p class="d-inline-block">$999</p>
            <span>$1999</span>
          </h5>
          <div data-aos="fade-up" data-aos-delay="400">
            <p class="section-subtitle fw-600 color-black mb-3">
              About Product
            </p>
            <p class="section-description color-868686">
              In publishing <strong class="color-black"> $30</strong> and
              graphic design, Lorem ipsum is a placeholder text commonly used
            </p>
            <ul class="disc-list">
              <li>In publishing $30 and graphic design</li>
            </ul>
          </div>
          <div class="action-block">
            <button
              class="btn btn-accent btn-lg w-100 text-uppercase color-white"
              onclick="window.location.href = './product-checkout.html';"
              data-aos="fade-up"
              data-aos-delay="500"
            >
              Reservse Disccount for $20
            </button>
            <button
              class="btn btn-outlined-grey btn-lg w-100 text-uppercase"
              onclick="window.location.href = './feedback-form.html';"
              data-aos="fade-up"
              data-aos-delay="600"
            >
              No thanks
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
