<!-- Selected Component Section -->
<div class="selected-component-section bg-dark">
  <div class="container-xl">
    <h3 class="section-title" data-aos="fade-up" data-aos-delay="100">Carefully Selected Components</h3>
    <p class="section-description" data-aos="fade-up" data-aos-delay="200">
      Stay Informed pf SKWHEEL to discover the most Impressive deals.
    </p>
    <div class="row">
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
        <div class="selected-component">
          <div class="card-image">
            <img
              class="img-fluid mx-auto"
              src="./../assets/img/hydraulic-disc-brakes.jpg"
              alt=""
            />
          </div>
          <h6 class="card-title">Hydraulic disc brakes</h6>
        </div>
      </div>
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="500">
        <div class="selected-component">
          <div class="card-image">
            <img
              class="img-fluid mx-auto"
              src="./../assets/img/upgraded-battery.jpg"
              alt=""
            />
          </div>
          <h6 class="card-title">Upgraded G2 52V Battery</h6>
        </div>
      </div>
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="700">
        <div class="selected-component">
          <div class="card-image">
            <img
              class="img-fluid mx-auto"
              src="./../assets/img/carbon-belt-drive.jpg"
              alt=""
            />
          </div>
          <h6 class="card-title">Carbon belt drive</h6>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Selected Component Section -->
