<!-- Selected Component Section -->
<div class="selected-component-section bg-dark">
  <div class="container-xl">
    <h3 class="section-title" data-aos="fade-up" data-aos-delay="100">
      Carefully Selected Components
    </h3>
    <p class="section-description" data-aos="fade-up" data-aos-delay="200">
      High-quality components and premium materials make up the heart of our
      bikes. Equipped with Shimano hydraulic disc brakes for reliable stopping
      power, puncture-proof tires, a comfortable saddle, and a durable and
      lightweight bamboo frame that absorbs road vibrations better than any
      other frame on the market, for an unforgivable riding experience.
    </p>
    <div class="row">
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
        <div class="selected-component">
          <div class="card-image">
            <img
              class="img-fluid mx-auto"
              src="./../assets/img/carbon-belt-drive.jpg"
              alt=""
            />
          </div>
          <h6 class="card-title">
            Puncture protect tires : worry-free commuting
          </h6>
        </div>
      </div>
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="500">
        <div class="selected-component">
          <div class="card-image">
            <img
              class="img-fluid mx-auto"
              src="./../assets/img/upgraded-battery.jpg"
              alt=""
            />
          </div>
          <h6 class="card-title">Award winning saddle: unparalleled comfort</h6>
        </div>
      </div>
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="700">
        <div class="selected-component">
          <div class="card-image">
            <img
              class="img-fluid mx-auto"
              src="./../assets/img/hydraulic-disc-brakes.jpg"
              alt=""
            />
          </div>
          <h6 class="card-title">
            Hidraulic disc brakes : superior stopping power
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Selected Component Section -->
