<!-- Banner Section -->
<div class="banner bg-dark">
  <div class="container-xl">
    <div class="row">
      <div class="col-lg">
        <div class="slide-wrapper">
          <div
            class="swiper bannerSliderLarge"
            data-aos="zoom-in"
            data-aos-delay="100"
          >
            <div class="swiper-wrapper">
              <div
                class="swiper-slide"
                style="
                  background-image: url('./../assets/img/home-banner/banner-slide-1.jpg');
                "
              ></div>
              <div
                class="swiper-slide"
                style="
                  background-image: url('./../assets/img/home-banner/banner-slide-2.jpg');
                "
              ></div>
              <div
                class="swiper-slide"
                style="
                  background-image: url('./../assets/img/home-banner/banner-slide-3.jpg');
                "
              ></div>
              <div
                class="swiper-slide"
                style="
                  background-image: url('./../assets/img/home-banner/banner-slide-4.jpg');
                  background-position: bottom left;
                "
              ></div>
              <div
                class="swiper-slide"
                style="
                  background-image: url('./../assets/img/home-banner/banner-slide-5.jpg');
                  background-position: bottom right;
                "
              ></div>
            </div>
          </div>
          <div thumbsSlider="" class="swiper bannerThumbSlider">
            <div class="swiper-wrapper">
              <div
                class="swiper-slide"
                data-aos="zoom-in-left"
                data-aos-delay="100"
              >
                <img src="./../assets/img/home-banner/banner-slide-1.jpg" />
              </div>
              <div
                class="swiper-slide"
                data-aos="zoom-in-left"
                data-aos-delay="200"
              >
                <img src="./../assets/img/home-banner/banner-slide-2.jpg" />
              </div>
              <div
                class="swiper-slide"
                data-aos="zoom-in-left"
                data-aos-delay="300"
              >
                <img src="./../assets/img/home-banner/banner-slide-3.jpg" />
              </div>
              <div
                class="swiper-slide"
                data-aos="zoom-in-left"
                data-aos-delay="400"
              >
                <img src="./../assets/img/home-banner/banner-slide-4.jpg" />
              </div>
              <div
                class="swiper-slide"
                data-aos="zoom-in-left"
                data-aos-delay="500"
              >
                <img src="./../assets/img/home-banner/banner-slide-5.jpg" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg d-flex flex-column justify-content-center">
        <div class="subscription-form" data-aos="fade-up" data-aos-delay="100">
          <h5 class="title">
            Diodra : World Lightest E-bike Made From Laminated Bamboo
          </h5>
          <p class="subtitle">
            Experience comfort, power, and performance like never before, with
            the new Diodra bikes.With smart features, a powerful motor, and the
            durability to handle any road, this bike will make you feel special.
          </p>
          <div class="form-group" data-aos="fade-up" data-aos-delay="200">
            <input
              type="text"
              class="form-control dark"
              placeholder="First name"
            />
          </div>
          <div class="form-group" data-aos="fade-up" data-aos-delay="300">
            <input
              type="text"
              class="form-control dark"
              placeholder="Your Email"
            />
          </div>
          <div class="pt-3" data-aos="fade-up" data-aos-delay="400">
            <button
              type="submit"
              class="btn btn-accent btn-lg w-100 text-uppercase"
              onclick="window.location.href = './product-details.html';"
            >
              Sign For launch offer
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner Section -->
